@import url(./reset.css);

header{
    width: 100%;
    background-color: rgb(87, 192, 241);
   

}


.mHeader{
    height: 120px;
   
    display: flex;
justify-content: space-between;
 align-items: center;

    
   
}

.mHeader h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: beige;
}

.global{
   background-color: rgba(87, 192, 241, 0.39);
   text-align: center;
   display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
    border-radius: 20px;

   
}
.global button{
    width: 180px;
    height: 50px;
    border-radius: 34px;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 550px;
    justify-content: center;
   
}
.section1{
    width: 75%;
    height: 400px;
   
    
}
footer{
    background-color: rgb(87, 192, 241);
    height: 62px;
}

.global2{
    background-color: rgba(87, 192, 241, 0.39);
    text-align: center;
    display: flex;
     flex-direction: column;
     align-items: center;
     gap: 30px;
     padding: 30px;
     border-radius: 20px;
     display: none;

}

.list-group-item{
    height: 50px;
    color:black;
}

.global3{
    background-color: rgba(87, 192, 241, 0.39);
    text-align: center;
    display: flex;
     flex-direction: column;
     align-items: center;
     gap: 30px;
     padding: 30px;
     border-radius: 20px;
     display: none;

}
